<link rel="stylesheet" href="/css/bootstrap.css" disabled />
<link rel="stylesheet" href="/css/bootstrap.min.css" disabled />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div id="content2R">
    <div class="row">
        <h1 style="color: lightpink;"> Tablas </h1> <br>
        <h3  style="color: darkgrey;"> Seleccione la tabla a editar:</h3> <br>
    </div>

    <div class="row">
        <a href="user/" type="button" class="btn btn-default btn-warning" >Administrador</a>
    </div>
    <div class="row pt-md-5"></div><br> 
    <div class="row">
        <a href="partida/" type="button" class="btn btn-default btn-warning" >Partida</a>
    </div> <br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="images/" type="button" class="btn btn-default btn-warning" >Imagen</a>
    </div><br><br><br>
    <div class="row pt-md-5"></div>
    <div class="row">
        <a href="/inicio" type="button" class="btn btn-default btn-danger">Atrás</a>
    </div>
</div>
