<div id="content2R">
    
    <h1 style="color: lightpink;"> Tablas </h1> <br>
        <h3  style="color: darkgrey;"> Seleccione la tabla a editar:</h3> <br> 
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="user/" type="button" class="game-button" style="background-color:gold;color:white;">Administrador</a>
        </div>
    </div>
    <div class="row pt-md-5"></div><br>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="partida/" type="button" class="btn btn-default btn-danger" style="background-color:gold;color:white;" >Partida</a>
        </div>
    </div>
    <div class="row pt-md-5"></div><br>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="images/" type="button" class="btn btn-default btn-danger" style="background-color:gold;color:white;" >Imagenes</a>
        </div>
    </div>
    <div class="row pt-md-5"></div><br><br><br>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="/inicio" type="button" style="color:white;" class="btn btn-default btn-danger">Atrás</a>
        </div>
    </div>
    
</div>
