<div id="content2R">
    
    <h1 style="color: lightpink;"> Tablas </h1> <br>
        <h3  style="color: darkgrey;"> Seleccione la tabla a editar:</h3> <br> 
        <br> <br> <br> 
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="user/"> <button class="game-button" style="background-color:gold;color:white;">Administrador</button></a>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="partida/"> <button class="game-button" style="background-color:gold;color:white;">Partida</button></a>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="images/"> <button class="game-button" style="background-color:gold;color:white;">Imagenes</button></a>
        </div>
    </div>
    <div class="row pt-md-5"></div><br>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="/inicio"> <button class="game-button" style="background-color:red;color:white;">Atras</button></a>
        </div>
    </div>
    
</div>
