<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/user/login"
             //window.location="/user/login"
        }
</script>

<div id="content2R">
    
    <h1 id="title-design"> Tablas </h1> <br>
        <h3 style="color: dimgray"> Seleccione la tabla a editar:</h3> <br> 
        <br> <br> <br> 
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="user/"> <button class="game-button" style="background-color:gold;color:white;text-transform: capitalize;">Administrador</button></a>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="partida/"> <button class="game-button" style="background-color:gold;color:white;text-transform: capitalize;">Partida</button></a>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="avatar/"> <button class="game-button" style="background-color:gold;color:white;text-transform: capitalize;">Avatar</button></a>
        </div>
    </div>
    <div class="row pt-md-5"></div><br>
    <div class="row" style="text-align: center">
        <div class="col-md-12">
            <a href="/inicio"> <button class="game-button" style="background-color:indianred;color:white;text-transform: capitalize;">Atrás</button></a>
        </div>
    </div>
    
</div>
