<div id="contentR">
    <h1> Administración </h1>                                       
    <img id="imgAdmin" src="/images/user.png" width="100px" alt="user img"> 
    <br/> <br/>
    <button class="btn btn.lg btn-primary" onclick="window.location.href='/about'"> 
        <a class="texto">Acceder a las tablas</a>     
    </button>
    <a href="/user/cerrar" class="btn btn.lg btn-danger">Cerrar sesión</a>
</div>
