<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">    
<body cz-shortcut-listes="true">
<audio id="selectAudio">
		<source src="/audio/seleccionar.mp3"> </source>
</audio>
    <div id="title">
        <img src="/images/choose-avatar.png" class="img-fluid">
        </div>
    
    <div id="avatar-container">
       <div class="row" style="text-align: center">
      {{#each objAvatar}}
       
            <div class="col-md-4">
              <img width="50%" onclick="demo({{id_avatar}})" src="{{foto}}" >
              
            </div>
        
        {{/each}} 
      </div>

    <br> <br>
    <div class="row" style="text-align: -webkit-auto; margin: auto;";
    margin: auto;>
        <div class="col-md-12">
     <a href="/front"><button id="arrows">
            <img src="/images/back-button.png" class="img-fluid" ></button>
            </a>
    
     
        </div>    
    
   </div>
   
   <script>
 document.getElementById('selectAudio').play();
 function demo(id_avatar){
        localStorage.setItem("id_avatar", id_avatar);
      //localStorage.setItem("foto", foto);
         window.location.href = '/front/juegos/';
    }

</script>
    
</body>
